@media only screen and (min-width: 375px) {
    /*以下都是為了開頭的圖片切換*/
    .slide{
        width: 100%;
        height: 100%;
        min-height: 300px;
        max-height: 100vh;
        overflow: hidden;
        position: relative;
    }
    .slide .img{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        transform: translateX(100%);
        animation: sliding 25s linear infinite;
    }
    .slide .img:nth-of-type(1){
        background-image: url(/cve/image/IMG_4264.png);
    }
    .slide .img:nth-of-type(2){
        background-image: url(/cve/image/IMG_3962.JPG);
        animation-delay: 5s;
    }
    .slide .img:nth-of-type(3){
        background-image: url(/cve/image/IMG_3323.JPG);
        animation-delay: 10s;
    }
    .slide .img:nth-of-type(4){
        background-image: url(/cve/image/IMG_3315.JPG);
        animation-delay: 15s;
    }
    .slide .img:nth-of-type(5){
        background-image: url(/cve/image/IMG_3103.JPG);
        animation-delay: 20s;
    }
    @keyframes sliding {
        0%{
            transform: translateX(100%);
            z-index: 6;
        }
        4%{
            transform: translateX(0);
            z-index: 6;
        }
        20%{
            transform: translateX(0);
            z-index: 6;
        }
        24%{
            transform: translateX(-100%);
            z-index: 6;
        }
        25%{
            transform: translateX(-100%);
            z-index: 1;
        }
        
    }
}
@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 1024px) {}
@media only screen and (min-width: 1280px) {}